body {
    background-image: url("spaceback.jpg");
    text-align:center;

}

div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

h1{
    text-align:center;
    color:#efeCa5;
    font-size:300%;
    font-family:Verdana;
}
 h2, h4, h5, body {
    text-align:center;
    color:#8B99EA;
    font-size:190%;
    font-family:Verdana;
}

h3, h6, h7 {
    text-align:center;
    color:#89D06A;
    font-size:190%;
    font-family:Verdana;
}

p {
    text-align:center;
    color:#efa5a5;
    font-size:100%;
    font-family:Verdana;
}

img {
   border-style:solid;
   border-color: #6AD0C5;
}
