body {
    background-image: url("spaceback.jpg");
    text-align:center;

}

div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

/* YELLOW TEXT */
h1{
    text-align:center;
    color:#efeCa5;
    font-size:120px;
    font-family:Verdana;
}

/* GREEN FOR THE TOP TEXT */
h3{
    text-align:center;
    color:#89D06A;
    font-size:85px;
    font-family:Verdana;
}

/* PURPLE TEXT AS TITLE*/
 h2, h4, h5, h6, body {
    text-align:center;
    color:#8B99EA;
    font-size:70px;
    font-family:Verdana;
}

/* GREEN SUBTEXT */
 h7, h8 {
    text-align:center;
    color:#89D06A;
    font-size:45px;
    font-family:Verdana;
}

p {
    text-align:center;
    color:#efa5a5;
    font-size:25px;
    font-family:Verdana;
}

img {
   border-style:solid;
   border-color: #6AD0C5;
}
