

h1, h2, body {
	background-color:#0c1a27;
    text-align:center;
    color:#e6ccff;
    font-size:300%;
    font-family:Verdana;
}

p {
    text-align:center;
    color:#e6ccff;
    font-size:100%;
    font-family:Verdana;
}

